#apt-get install python3-venv #linux
#apt-get install python3-pip #linux
#python -m venv env #window
#pip install flask requests Flask-SQLAlchemy pymcprotocol flask-marshmallow 
#pip3 install flask requests Flask-SQLAlchemy pymcprotocol flask-marshmallow threaded#linux
#pip install threaded
#pip install -r requirements.txt
#python -m pip install --upgrade pip
#python3 -m pip install --upgrade pip #linux
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.25
requests==2.26.0
pymcprotocol==0.3.0
flask-marshmallow==0.14.0